.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  font-size: 36px; /* Tamaño del icono */
  margin-bottom: 10px; /* Espacio entre el icono y el texto */
  color: #007bff; /* Color del icono */
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card p {
  font-size: 24px;
  margin: 10px 0 0;
}