/* Estilos adicionales para el perfil de usuario */
.profile-container {
    max-width: 600px; /* Limita el ancho máximo de la tarjeta */
    margin: auto; /* Centra la tarjeta en el contenedor */
    border-radius: 0.375rem; /* Bordes redondeados para la tarjeta */
}

.card-body p {
    font-size: 16px; /* Tamaño de fuente para el texto del perfil */
}

.card-body strong {
    color: #333; /* Color del texto fuerte para las etiquetas */
}

.spinner-border {
    width: 3rem; /* Tamaño del spinner */
    height: 3rem; /* Tamaño del spinner */
    border-width: 0.3em; /* Grosor del borde del spinner */
}