<h2>Métricas de Proyectos</h2>
<div class="container">

  <app-project-summary></app-project-summary>

  <div class="chart-container" *ngIf="chartOptionsZone.series && chartOptionsZone.series.length > 0">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsZone"
      style="width: 100%; height: 400px; display: block;"></highcharts-chart>
  </div>

  <div class="chart-container" *ngIf="chartOptionsStatus.series && chartOptionsStatus.series.length > 0">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsStatus"
      style="width: 100%; height: 400px; display: block;"></highcharts-chart>
  </div>

  <div class="chart-container" *ngIf="chartOptionsBudget.series && chartOptionsBudget.series.length > 0">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsBudget"
      style="width: 100%; height: 400px; display: block;"></highcharts-chart>
  </div>
</div>